extends layout

block content
  h1 Twive
  h2 See if your favorite streamer(s) are live!
  div.searchbox
    form.search(method='POST' action='/')
      label(for='name') Twitch Username:
      br
      input(type='text' id='name' placeholder='Enter username here...' name='name')
      br
      input(type='submit')
  form(method='POST' action='/refresh')
      button(type='submit') Refresh
  //- hr
  .streamers
    .online
      h3 Online
      table.stream
        tr
          th Profile
          th Username
          th Viewers
          th Stream
        each streamer in online
          tr
            td
              img.profile(src=streamer.imageUrl)
            td
              h4= streamer.name
            td
              h4= streamer.viewers
            td
              a(href=streamer.twitchUrl) Twitch
    .offline
      h3 Offline
      table.stream
        tr
          th Profile
          th Username
          th Stream
        each streamer in offline
          tr
            td
              img.profile(src=streamer.imageUrl)
            td
              h4= streamer.name
            td
              a(href=streamer.twitchUrl) Twitch


    

